.TrendCard {
    display: flex;
    flex-direction: column;
    background-color: var(--cardColor);
    gap: 1rem;
    border-radius: 1rem;
    padding-left: 2rem;
}

.trend {
    display: flex;
    flex-direction: column;
    gap: 0.5;
}

.trend>span:nth-of-type(1) {
    font-weight: bold;
}

.trend>span:nth-of-type(2) {
    font-size: 13px;
}