.ProfileCard {
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    overflow-x: clip;
    background: var(--cardColor);

}

.ProfileImages {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
}

.ProfileImages>img:nth-of-type(1) {
    width: 100%;
}

.ProfileImages>img:nth-of-type(2) {
    width: 6rem;
    border-radius: 50%;
    position: absolute;
    bottom: -3rem;
    box-shadow: var(--profileShadow);
}

.ProfileName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 10px;

}

.ProfileName>span:nth-of-type(1) {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--textColor);
}

.followStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 0.75rem;
}

.followStatus>hr {
    width: 85%;
    border: 1px solid var(--hrColor);
}

.followStatus>div {
    display: flex;
    gap: 1rem;
    width: 80%;
    align-items: center;
    justify-content: space-around;
}

.follow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    flex-direction: column;
}

.follow>span:nth-of-type(1) {
    font-weight: bold;
}

.follow>span:nth-of-type(2) {

    color: var(--gray);
    font-size: 13px;
}

.Vl {
    height: 150%;
    border-left: 2px solid var(--hrColor);
}

.ProfileCard>span {
    font-weight: bold;
    color: orange;
    align-self: center;
    margin-bottom: 1rem;
    cursor: pointer;
}